/*matrix page*/
.project-list {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #e9edee;
  color: #000000;
  cursor: pointer;
  margin-bottom: 20px;
  h2 {
    padding: 10px;
    font-family: Lato;
  }
  &:hover {
    background: #d7ddde;
  }
  &.active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    background: #d7ddde;
    color: #000000;
  }
}
.project-list-content {
  display: none;
  font-family: Lato;
}
/*Login Page*/
.not-logged-in .tabs.primary {
  display: none;
}
.page-user-login {
  ul.saml_sp_drupal_login-links {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
    a {
      font-size: 18px;
      padding: 35px 70px;
      background: url(/sites/all/themes/startupgrowth_ciw/image/login.png) no-repeat;
      background-size: cover;
      min-width: 290px;
      color: #ffffff;
      display: inline-block;
      line-height: 1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: none;
      margin: 10px 0;
      text-align: center;
    }
  }
  input[type="submit"].collapse {
    display: none;
    &.in {
      display: block;
    }
  }
  input.form-text {
    padding: 10px 15px;
  }
  .logIn {
    width: 100%;
    min-height: 300px;
    max-width: 500px;
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    border-bottom: 2px solid #3b5da5;
    h1 {
      font-size: 3em;
    }
  }
}
/*Webform for rentals*/
.node-type-webform {
  #block-system-main {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
  }
  input.form-text, textarea, select {
    width: auto;
    border-radius: 10px;
    padding: 5px 15px;
  }
  .form-item, .form-actions {
    display: inline;
  }
}
//date picker width override
#ui-datepicker-div {
  min-width: 367px;
}
/*IT dashboard*/
.page-node-4572 {
  .header .circle {
    border-radius: 0;
    background: white;
    border: 1px solid gray;
    display: inline-block;
    width: 100px;
    height: 10px;
    &.color {
      border-radius: 0;
      background: lightgreen;
      border: none;
    }
    &.blue {
      border-radius: 0;
      background: #5eb6cd;
      border: none;
    }
  }
  .list-group-item {
    border: none;
    background: lightgreen;
    &.first {
      background: white;
    }
    &.eb {
      background: #5eb6cd;
    }
  }
  .list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
  }
  @media (min-width: 1400px) {
    .container {
      width: 1400px;
    }
  }
}
/*legal form*/
@media (min-width: 768px) {
  .page-node-3177 .modal-dialog {
    width: 800px;
  }
}
#dvFastForms {
  font-family: Lato;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  label {
    display: inline;
  }
  .ff-section-header {
    font-size: 2em;
    color: #163671;
  }
  .ff-col-2 {
    min-width: 47%;
  }
  .ff-form-main {
    max-width: 100%;
    .ff-page-row {
      max-width: 100%;
      .ff-group-row {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 35%;
        padding-bottom: 40px;
        &:nth-of-type(even) {
          background: #fff;
        }
      }
    }
    .ff-footer-row {
      padding-left: 20px;
    }
    select, input {
      border: 1px solid #c5dee4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      padding: 10px 15px;
      font-size: 16px;
    }
    textarea {
      background: white;
      border: 1px solid #c5dee4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      padding: 5px 15px;
      height: 150px;
    }
    input {
      padding: 5px 15px;
      width: 260px;
      max-width: 100%;
    }
    .ff-group-row > .ff-item-row {
      margin-top: 15px;
    }
    #btnsubmit {
      border: none;
      display: block;
      background-color: #213870;
      color:white;
    }
    .ff-form-main a.lookup-link {
      width: 240px;
    }
  }
}
.ff-ui-dialog .ff-ui-dialog-buttonpane button {
  border: none;
  display: block;
  background-color: #213870;
  color: white;
  padding: 5px 10px;
}

#dvFastForms.ff-ui-dialog {
  left: 50% !important;
}
//hide pre-filled field
.page-node-4193 #dvFastForms .ff-form-main .ff-page-row .ff-group-row.group-3 {
  opacity: 0;
  height: 0;
  padding: 0;
}
//visitor log dashboard
table.logDashboard {
  border: none;
  width: 100%;
  font-size: 20px;
  td {
    border: none;
  }
  tr {
    border-top: 1px solid rgb(150,202,79);
  }
  thead {
    background-color: rgb(150,202,79);
    color: white;
    opacity: 0.9;
  }
  tbody {
    background-color: white;
    opacity: 0.9;
  }
}
//groove HQ form
.node-type-page {
  form {
    background: #fbfbdd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    .form-group {
      margin-bottom: 15px;
      padding: 20px 35% 20px 20px;
      //&:nth-of-type(odd) {
      //  background: #fbfbdd;
      //}
    }
    button.btn {
      margin: 0 0 20px 20px;
    }
  }
}
//latest article page
.view-id-latest_article {
  .view-content .wrapper {
    padding: 30px;
    margin: 25px 50px 25px 0;
    background-color: white;
    min-height: 190px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 2px solid #3b5da5;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
    }
  }
}
//article pages
.node-type-article {
  .field-name-field-resource {
    margin-top: 40px;
    padding: 20px 20px 40px;
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  }
}
// Ceridian Page
.page-node-4756, .page-node-4765 {
  .project-list h2 {
    margin-top: 0;
  }
  #page-title,
  #main header {
    display: none;
  }
  iframe {
    box-shadow: -2px 7px 35px 1px rgba(0,0,0,0.75);
    border: none;
    max-width: 100%;
  }
  #block-block-17 {
    padding: 0 20px 40px;
    background: #163671;
    color: white;
    a {
      color: white;
    }
  }
  .block-quicktabs {
    .quicktabs-tabs {
      a {
        font-size: 16px;
      }
    }
  }
}
ul.menu {
  li {
    a.active {
      background-color: #2a68af;
      color: #ffffff;
    }
  }
}
#block-superfish-3 {
  ul.sf-menu {
    text-align: left;
  }
}
//hr page
#superfish-3 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  li {
    z-index: 0;
  }
}