//events view page
.page-events {
  .content {
    .views-row {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 0 0 30px 10px;
      margin-top: 40px;
    }
  }
}
.node-type-event, .page-events {
  .addtocal {
    max-width: 127px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .item-list ul {
    list-style-type: none;
  }
}