//events view page
.page-events {
  .content {
    .views-row {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 0 0 30px 10px;
      margin-top: 40px;
    }
  }
  input.form-text, textarea, select {
    padding: 6px 15px;
  }
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 30px;
    padding: 12px 23px;
  }
}
//events node page
.node-type-event, .page-events {
  .addtocal {
    max-width: 127px;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 16px;
    &:hover {
      top: -10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-transform: rotateX(20deg);
      -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
      transform: rotateX(20deg);
    }
  }
  .item-list ul {
    list-style-type: none;
  }
  .node-teaser .field-type-image img {
    border: none;
  }
}
//events landing page
.page-events {
  .node.node-teaser {
    padding: 0;
    margin-bottom: 0;
  }
}