footer.footer {
  background-color: #f2f2f2;
  border: none;
  padding: 3em;
  .footer-image  {
    padding: 10px 0;
    img {
      width: 340px;
      position: relative;
      box-sizing: content-box;
      margin-top: 5px;
      padding-right: 25px;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .footer-list ul {
    list-style-type: none;
    li {
      &:first-child {
        padding-bottom: 5px;
        font-family: 'Roboto Slab', serif;
      }
      font-family: 'Lato', sans-serif;
      a {
        color: #7d7d7d;
        cursor: pointer;
        text-decoration: none;
        position: relative;
      }
      i {
        color: #7d7d7d;
        padding-right: 30px;
      }
      a:hover {
        left: .3em;
      }
    }
  }

  span {
    color: #153571;
    position: relative;
    margin-left: 40px;
    top: 5px;
    font-family: "Roboto Slab";
    font-size: 1.5em;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .footer-list {
    width: 100%;
  }
}
