/*Person page*/
.node-type-policy {
  .sidebar {
    h2 {
      font-size: 2em;
      font-weight: normal;
    }
    //policy news
    #block-block-16 {
      padding: 0 20px 40px;
      background: #163671;
      color: white;
      a {
        color: white;
        text-decoration: underline;
      }
    }

    //promoted policy
    #block-views-policy-development-block,
    #block-custom-blocks-related-policy {
      margin-top: 40px;
      padding: 20px 20px 40px;
      -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
      -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
      box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
      a {
        color: #163671;
        text-decoration: underline;
      }
    }
  }

}