/*search area*/
input.form-text, textarea, select {
  background: white;
  border: 2px solid #c5dee4;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  padding: 18px 15px;
  font-size: 16px;
}

#custom-blocks-search-block-form .form-submit, #edit-submit--2 {
  background-color: #96ca4f;
}

html {
  body.admin-menu.page-search {
    margin-top: 0px !important;
    #admin-menu {
      display: none;
    }
  }
  .search-advanced {
    display: none;
  }
}

ol.search-results div {
  &.col-md-4 {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
    &.fadein {
      opacity: 1;
    }
  }
  &.col-md-8 {
    opacity: 0;
    -moz-transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    -o-transition: opacity 2.5s;
    transition: opacity 2.5s;
    &.fadein {
      opacity: 1;
    }
  }
}

.top-bg {
  position: absolute;
  width: 100%;
}

.search {
  min-height: 600px;
  position: relative;
}

#custom-blocks-search-block-form {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  display: block;
  left: 35%;
}
/*search result*/
.search-form {
  margin: 20px 10px 50px 0;
}

.search-results {
  padding-left: 0;
  .field-type-image {
    margin: 0;
  }
}

.page-custom-node-search {
  .search-results {
    padding-left: 0;
    margin-top: 50px;
    min-height: 300px;
    .search-snippet-info {
      padding-left: 0;
    }
  }
  .col-md-8 h2 {
    margin-bottom: 30px;
    * {
      display: inline;
    }
  }
}

.field-name-field-frist-name, .field-name-field-user-first-name {
  float: left;
  margin-right: 10px;
}

.copyright {
  background-color: #001523;
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 20px;
  text-align: center;
  p {
    font-size: 14px;
  }
}

/*db search override*/
.page-ldap-search {
  #page-title {
    display: none;
  }
  .content h1, #search-api-page-search-form label {
    display: none;
  }
  .icon {
    max-width: 200px;
    margin-top: 20px;
  }
  #edit-keys-2::placeholder {
    font-size: 16px;
  }
  #page, &.not-front #main {
    padding-top: 0;
  }
  article.node-person {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 0 30px 10px;
  }
}

.front .modal-body iframe {
  max-width: 100%;
}

.field-type-taxonomy-term-reference {
  font-size: 16px;
}