@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%; } }
@media (min-width: 1400px) {
  .container {
    width: 1350px; } }
@media (min-width: 992px) {
  html, body {
    height: 100%; } }
body {
  /*set container*/ }
  body #page-container {
    font-family: 'Lato';
    font-size: 18px;
    min-height: 100%;
    margin-bottom: -147px; }
    body #page-container:after {
      content: "";
      display: block;
      height: 147px; }
    body #page-container a:hover {
      text-decoration: none;
      color: #23527c; }
    body #page-container .tooltip {
      font-family: 'Lato'; }
    body #page-container p {
      font-size: 18px; }
    body #page-container a {
      cursor: pointer; }
    body #page-container h1, body #page-container h2, body #page-container h3, body #page-container h4, body #page-container h5, body #page-container h6 {
      text-transform: none;
      font-weight: normal; }
    body #page-container table {
      width: 100%;
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
      body #page-container table tr:nth-child(odd) {
        background: #fbfbf9; }
      body #page-container table td {
        padding: 10px 10px !important;
        border: 1px solid #e9edee !important; }
    body #page-container mark, body #page-container .mark {
      background-color: yellow; }
    body #page-container nav li a.isDisabled {
      text-align: center;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
      color: grey; }
    @media screen and (min-width: 768px) {
      body #page-container .menuParent {
        pointer-events: none;
        cursor: pointer; } }
    body #page-container .block-title {
      font-size: 36px;
      text-transform: uppercase; }
    body #page-container .file {
      width: 60%; }
    @media (max-width: 500px) {
      body #page-container h1 {
        font-size: 22px; }
      body #page-container h2 {
        font-size: 20px; } }
    body #page-container h1, body #page-container h2 {
      font-family: 'Roboto Slab', serif; }
    body #page-container nav.tabs {
      box-shadow: none; }

.search img {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 200px; }

/*Header*/
#page-container nav {
  margin-bottom: 10px;
  margin-top: 30px;
  position: relative; }
  #page-container nav a {
    font-size: 20px;
    color: black; }
  #page-container nav bar-nav {
    float: left !important;
    margin: 0 20px;
    transition: all 0.3s ease 0s; }
    #page-container nav bar-nav.active {
      display: block; }
    #page-container nav bar-nav li.dropdown .dropdown-menu {
      box-shadow: none;
      background-color: #153571; }
  #page-container nav li {
    transition: all 0.3s ease 0s;
    margin-right: 10px; }
    #page-container nav li > a:hover, #page-container nav li > a:focus {
      background-color: inherit;
      transition: all 0.3s ease 0s; }

@media screen and (max-width: 993px) {
  #page-container nav bar-nav {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    margin: 0;
    top: 60px;
    box-shadow: 0 0 6px #000;
    width: 100%; }
    #page-container nav bar-nav li.dropdown {
      width: 100%; }
      #page-container nav bar-nav li.dropdown .dropdown-menu {
        position: relative;
        width: 100%; } }
.open > a {
  background-color: #153571;
  opacity: 0.8; }
  .open > a:hover, .open > a:focus {
    background-color: #153571;
    opacity: 0.8; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #153571;
  color: white;
  opacity: 0.8; }

nav:after {
  clear: both;
  content: "";
  display: table; }

#block-system-user-menu {
  padding: 0;
  margin-left: 25px; }

ul.menu li a {
  padding: 10px; }

.header-wrapper {
  -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  z-index: 10;
  position: relative; }

.sf-menu ul {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

ul.sf-menu.sf-accordion.sf-expanded {
  display: block;
  position: absolute;
  top: 40px !important; }

.header {
  position: relative;
  z-index: 999;
  padding: 10px 0; }
  .header img {
    position: relative;
    box-sizing: content-box;
    margin-top: 1.4em; }
  .header .btn {
    position: absolute;
    right: 71px;
    top: 8px;
    margin-top: 5px;
    padding-right: 25px; }
  .header .user-info {
    display: inline-block;
    position: relative; }
    .header .user-info ul {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      position: relative; }
      .header .user-info ul li {
        color: grey; }
        .header .user-info ul li h4 {
          color: black;
          font-weight: bold; }
    .header .user-info img {
      width: 70px;
      border: none;
      display: inline-block; }
  .header .circle {
    border-radius: 50%;
    background: green;
    display: inline-block;
    width: 10px;
    height: 10px; }

.header-wrapper .container {
  position: relative; }
  .header-wrapper .container .profilePhoto {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    border-radius: 50%;
    z-index: 10;
    top: 30px; }
    @media screen and (max-width: 1020px) {
      .header-wrapper .container .profilePhoto {
        display: none; } }
  @media screen and (min-width: 1020px) {
    .header-wrapper .container ul.sf-menu {
      text-align: right;
      margin-right: 30px; } }
  .header-wrapper .container ul.sf-menu ul {
    text-align: center; }
.header-wrapper .region-navigation {
  z-index: 9; }

@media screen and (max-width: 499px) {
  .header img {
    width: 200px;
    margin-top: 20px; } }
/*menu*/
ul.sf-menu {
  text-align: center; }
  ul.sf-menu > li.sf-depth-1 {
    display: inline-block;
    float: none; }

.sf-sub-indicator {
  position: static;
  float: right;
  margin-top: 10px;
  margin-left: 5px; }

.mean-container a.meanmenu-reveal {
  left: 0 !important; }

#main-navigation .sf-menu > li.active-trail > a {
  border: none; }
#main-navigation .sf-menu ul li a:hover, #main-navigation .sf-menu ul li.sfHover > a {
  color: black !important;
  background-color: white !important; }
#main-navigation .sf-menu ul li a {
  background-color: white; }

/*override superfish*/
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background: none;
  padding: 0 !important;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #fff;
  margin-top: 7px; }

ul.sf-menu li a.menuparent:after {
  content: "\f107";
  font-family: 'FontAwesome';
  position: absolute;
  top: 16px;
  right: -1px;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #000;
  line-height: 20px; }

ul.sf-menu .sf-depth-2 a.menuparent:after {
  right: 8px; }

#page-container nav li > a:hover, #page-container nav li > a:focus {
  background-color: white;
  opacity: 0.5; }

body #page-container nav li a {
  background-color: white;
  opacity: 0.9; }
  body #page-container nav li a:visited {
    color: black; }

.sf-accordion-toggle span {
  font-size: 30px;
  float: right;
  -webkit-transform: scale(1.4, 1);
  -moz-transform: scale(1.4, 1);
  -ms-transform: scale(1.4, 1);
  -o-transform: scale(1.4, 1);
  transform: scale(1.4, 1); }

@media screen and (max-width: 500px) {
  ul.sf-menu.sf-accordion.sf-expanded {
    left: -200px !important; }

  ul.sf-menu.sf-accordion.sf-expanded, ul.sf-menu.sf-accordion li.sf-expanded > ul {
    width: 260px; }

  ul.sf-menu li a.menuparent:after {
    right: 5px; }

  #page-container nav li > a:hover, #page-container nav li > a:focus {
    opacity: 1; }

  .front .fastLinks ul i {
    display: none; } }
footer.footer {
  background-color: #f2f2f2;
  border: none;
  padding: 3em; }
  footer.footer .footer-image {
    padding: 10px 0; }
    footer.footer .footer-image img {
      width: 340px;
      position: relative;
      box-sizing: content-box;
      margin-top: 5px;
      padding-right: 25px; }
    @media screen and (max-width: 992px) {
      footer.footer .footer-image {
        display: none; } }
  footer.footer .footer-list ul {
    list-style-type: none; }
    footer.footer .footer-list ul li {
      font-family: 'Lato', sans-serif; }
      footer.footer .footer-list ul li:first-child {
        padding-bottom: 5px;
        font-family: 'Roboto Slab', serif; }
      footer.footer .footer-list ul li a {
        color: #7d7d7d;
        cursor: pointer;
        text-decoration: none;
        position: relative; }
      footer.footer .footer-list ul li i {
        color: #7d7d7d;
        padding-right: 30px; }
      footer.footer .footer-list ul li a:hover {
        left: .3em; }
  footer.footer span {
    color: #153571;
    position: relative;
    margin-left: 40px;
    top: 5px;
    font-family: "Roboto Slab";
    font-size: 1.5em; }
    @media screen and (max-width: 992px) {
      footer.footer span {
        display: none; } }

@media screen and (max-width: 550px) {
  .footer-list {
    width: 100%; } }
/*homepage*/
.front {
  /*fast links*/
  /*latest article seciton*/ }
  @media (min-width: 1200px) {
    .front .landing-container {
      height: 100vh;
      overflow: hidden; } }
  .front section {
    padding: 30px;
    position: relative; }
  .front .landingBanner {
    color: white;
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1px 10px 10px;
    position: relative;
    z-index: 5;
    text-align: center;
    margin-top: -100px; }
    .front .landingBanner:after {
      background-color: #5eb6cd;
      opacity: 0.7;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  @media screen and (min-width: 768px) {
    .front .fastLinks {
      min-height: 320px; } }
  .front .fastLinks h1 {
    font-family: 'Roboto Slab', serif; }
  .front .fastLinks ul {
    list-style-type: decimal; }
    .front .fastLinks ul a {
      color: black;
      font-weight: bold; }
      .front .fastLinks ul a:hover {
        text-decoration: none; }
    .front .fastLinks ul li {
      padding: 8px 0;
      border-bottom: 1px solid lightgrey; }
    .front .fastLinks ul a:last-of-type li {
      border-bottom: none; }
    .front .fastLinks ul i {
      float: right;
      color: green;
      font-size: 20px; }
  .front .fastLinks ul.clearfix {
    padding: 10px 15px 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .front .view-calendar .views-row-1 h4 {
    margin-top: 0; }
  .front .staff-directory {
    border: 7px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
    .front .staff-directory a {
      display: block;
      text-align: center; }
    .front .staff-directory:hover {
      border-radius: 0;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.19); }
    .front .staff-directory img {
      max-width: 220px; }
  .front section.latest-article {
    background-color: #f2f2f2; }
    .front section.latest-article .view-content .wrapper {
      padding: 30px;
      margin: 25px 0px;
      background-color: white;
      min-height: 190px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      border-bottom: 2px solid #3b5da5;
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
      .front section.latest-article .view-content .wrapper:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        transition: all 0.3s ease 0s; }
    .front section.latest-article h3 {
      margin-top: 0; }
    .front section.latest-article:before {
      content: "";
      position: absolute;
      z-index: -1;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      bottom: 0;
      width: 94%;
      height: 40px;
      -moz-border-radius: 100%;
      border-radius: 100%;
      left: 3%; }
    .front section.latest-article a {
      color: #000;
      font-weight: bold; }
  .front footer {
    background-color: white; }

/*matrix page*/
.project-list {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #e9edee;
  color: #000000;
  cursor: pointer;
  margin-bottom: 20px; }
  .project-list h2 {
    padding: 10px;
    font-family: Lato; }
  .project-list:hover {
    background: #d7ddde; }
  .project-list.active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    background: #d7ddde;
    color: #000000; }

.project-list-content {
  display: none;
  font-family: Lato; }

/*Login Page*/
.not-logged-in .tabs.primary {
  display: none; }

.page-user-login ul.saml_sp_drupal_login-links {
  list-style-type: none;
  padding: 0;
  margin-top: 25px; }
  .page-user-login ul.saml_sp_drupal_login-links a {
    font-size: 18px;
    padding: 35px 70px;
    background: url(/sites/all/themes/startupgrowth_ciw/image/login.png) no-repeat;
    background-size: cover;
    min-width: 290px;
    color: #ffffff;
    display: inline-block;
    line-height: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    margin: 10px 0;
    text-align: center; }
.page-user-login input[type="submit"].collapse {
  display: none; }
  .page-user-login input[type="submit"].collapse.in {
    display: block; }
.page-user-login input.form-text {
  padding: 10px 15px; }
.page-user-login .logIn {
  width: 100%;
  min-height: 300px;
  max-width: 500px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  border-bottom: 2px solid #3b5da5; }
  .page-user-login .logIn h1 {
    font-size: 3em; }

/*WebForm for rentals*/
.node-type-webform #block-system-main {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; }
.node-type-webform input.form-text, .node-type-webform textarea, .node-type-webform select {
  width: auto;
  border-radius: 10px;
  padding: 5px 15px; }
.node-type-webform .form-item, .node-type-webform .form-actions {
  display: inline; }

#ui-datepicker-div {
  min-width: 367px; }

/*IT dashboard*/
.page-node-4572 .header .circle {
  border-radius: 0;
  background: white;
  border: 1px solid gray;
  display: inline-block;
  width: 100px;
  height: 10px; }
  .page-node-4572 .header .circle.color {
    border-radius: 0;
    background: lightgreen;
    border: none; }
  .page-node-4572 .header .circle.blue {
    border-radius: 0;
    background: #5eb6cd;
    border: none; }
.page-node-4572 .list-group-item {
  border: none;
  background: lightgreen; }
  .page-node-4572 .list-group-item.first {
    background: white; }
  .page-node-4572 .list-group-item.eb {
    background: #5eb6cd; }
.page-node-4572 .list-group {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px; }
@media (min-width: 1400px) {
  .page-node-4572 .container {
    width: 1400px; } }

.page-node-4217 .ff-fileupload-drop-area,
.page-node-4217 #dvFastForms .ff-form-main select,
.page-node-4217 #dvFastForms .ff-form-main input,
.page-node-4217 #dvFastForms .ff-form-main textarea {
  width: 300px; }
.page-node-4217 .ff-col-1 {
  min-width: 50%; }

/*legal form*/
@media (min-width: 768px) {
  .page-node-3177 .modal-dialog {
    width: 800px; } }
#dvFastForms {
  font-family: Lato;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  #dvFastForms label {
    display: inline; }
  #dvFastForms .ff-section-header {
    font-size: 2em;
    color: #163671; }
  #dvFastForms .ff-col-2 {
    min-width: 47%; }
  #dvFastForms .ff-form-main {
    max-width: 100%; }
    #dvFastForms .ff-form-main .ff-page-row {
      max-width: 100%; }
      #dvFastForms .ff-form-main .ff-page-row .ff-group-row {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 35%;
        padding-bottom: 40px; }
        #dvFastForms .ff-form-main .ff-page-row .ff-group-row:nth-of-type(even) {
          background: #fff; }
    #dvFastForms .ff-form-main .ff-footer-row {
      padding-left: 20px; }
    #dvFastForms .ff-form-main select, #dvFastForms .ff-form-main input {
      border: 1px solid #c5dee4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      padding: 10px 15px;
      font-size: 16px; }
    #dvFastForms .ff-form-main textarea {
      background: white;
      border: 1px solid #c5dee4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      padding: 5px 15px;
      height: 150px; }
    #dvFastForms .ff-form-main input {
      padding: 5px 15px;
      width: 260px;
      max-width: 100%; }
    #dvFastForms .ff-form-main .ff-group-row > .ff-item-row {
      margin-top: 15px; }
    #dvFastForms .ff-form-main #btnsubmit {
      border: none;
      display: block;
      background-color: #213870;
      color: white; }
    #dvFastForms .ff-form-main .ff-form-main a.lookup-link {
      width: 240px; }

.ff-ui-dialog .ff-ui-dialog-buttonpane button {
  border: none;
  display: block;
  background-color: #213870;
  color: white;
  padding: 5px 10px; }

#dvFastForms.ff-ui-dialog {
  left: 50% !important; }

.page-node-4193 #dvFastForms .ff-form-main .ff-page-row .ff-group-row.group-3 {
  opacity: 0;
  height: 0;
  padding: 0; }

table.logDashboard {
  border: none;
  width: 100%;
  font-size: 20px; }
  table.logDashboard td {
    border: none; }
  table.logDashboard tr {
    border-top: 1px solid #96ca4f; }
  table.logDashboard thead {
    background-color: #96ca4f;
    color: white;
    opacity: 0.9; }
  table.logDashboard tbody {
    background-color: white;
    opacity: 0.9; }

.node-type-page form {
  background: #fbfbdd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px; }
  .node-type-page form .form-group {
    margin-bottom: 15px;
    padding: 20px 35% 20px 20px; }
  .node-type-page form button.btn {
    margin: 0 0 20px 20px; }

.view-id-latest_article .view-content .wrapper {
  padding: 30px;
  margin: 25px 50px 25px 0;
  background-color: white;
  min-height: 190px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 2px solid #3b5da5;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
  .view-id-latest_article .view-content .wrapper:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer; }

.node-type-article .field-name-field-resource {
  margin-top: 40px;
  padding: 20px 20px 40px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }

.page-node-4756 .project-list h2, .page-node-4765 .project-list h2 {
  margin-top: 0; }
.page-node-4756 #page-title,
.page-node-4756 #main header, .page-node-4765 #page-title,
.page-node-4765 #main header {
  display: none; }
.page-node-4756 iframe, .page-node-4765 iframe {
  box-shadow: -2px 7px 35px 1px rgba(0, 0, 0, 0.75);
  border: none;
  max-width: 100%; }
.page-node-4756 #block-block-17, .page-node-4765 #block-block-17 {
  padding: 0 20px 40px;
  background: #163671;
  color: white; }
  .page-node-4756 #block-block-17 a, .page-node-4765 #block-block-17 a {
    color: white; }
.page-node-4756 .block-quicktabs .quicktabs-tabs a, .page-node-4765 .block-quicktabs .quicktabs-tabs a {
  font-size: 16px; }

ul.menu li a.active {
  background-color: #2a68af;
  color: #ffffff; }

#block-superfish-3 ul.sf-menu {
  text-align: left; }

#superfish-3 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
  #superfish-3 li {
    z-index: 0; }
    #superfish-3 li a:hover {
      color: white; }

.hr-person.row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0 30px 10px;
  margin-bottom: 30px; }
  .hr-person.row .field-label {
    float: left; }
  .hr-person.row img {
    margin-top: 30px; }
  .hr-person.row h3 {
    margin-top: 0; }

.page-node-6466 #page-title {
  display: none; }
.page-node-6466 .logo-container {
  text-align: center;
  background-color: #eee;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  padding-top: 20px; }
  .page-node-6466 .logo-container .bookmarks {
    margin-bottom: 20px; }
  .page-node-6466 .logo-container h2 {
    border-top: #d7d7d7 1px solid;
    width: 76%;
    margin: 0 auto;
    padding: 10px; }
  .page-node-6466 .logo-container .logo-row {
    text-align: center;
    margin-bottom: 50px; }
    .page-node-6466 .logo-container .logo-row img {
      max-width: 300px;
      margin-bottom: 15px; }

/*search area*/
input.form-text, textarea, select {
  background: white;
  border: 2px solid #c5dee4;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  padding: 18px 15px;
  font-size: 16px; }

#custom-blocks-search-block-form .form-submit, #edit-submit--2 {
  background-color: #96ca4f; }

html body.admin-menu.page-search {
  margin-top: 0px !important; }
  html body.admin-menu.page-search #admin-menu {
    display: none; }
html .search-advanced {
  display: none; }

ol.search-results div.col-md-4 {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s; }
  ol.search-results div.col-md-4.fadein {
    opacity: 1; }
ol.search-results div.col-md-8 {
  opacity: 0;
  -moz-transition: opacity 2.5s;
  -webkit-transition: opacity 2.5s;
  -o-transition: opacity 2.5s;
  transition: opacity 2.5s; }
  ol.search-results div.col-md-8.fadein {
    opacity: 1; }

.top-bg {
  position: absolute;
  width: 100%; }

.search {
  min-height: 600px;
  position: relative; }

#custom-blocks-search-block-form {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  display: block;
  left: 35%; }

/*search result*/
.search-form {
  margin: 20px 10px 50px 0; }

.search-results {
  padding-left: 0; }
  .search-results .field-type-image {
    margin: 0; }

.page-custom-node-search .search-results {
  padding-left: 0;
  margin-top: 50px;
  min-height: 300px; }
  .page-custom-node-search .search-results .search-snippet-info {
    padding-left: 0; }
.page-custom-node-search .col-md-8 h2 {
  margin-bottom: 30px; }
  .page-custom-node-search .col-md-8 h2 * {
    display: inline; }

.field-name-field-frist-name, .field-name-field-user-first-name {
  float: left;
  margin-right: 10px; }

.copyright {
  background-color: #001523;
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 20px;
  text-align: center; }
  .copyright p {
    font-size: 14px; }

/*db search override*/
.page-ldap-search #page-title {
  display: none; }
.page-ldap-search .content h1, .page-ldap-search #search-api-page-search-form label {
  display: none; }
.page-ldap-search .icon {
  max-width: 200px;
  margin-top: 20px; }
.page-ldap-search #edit-keys-2::placeholder {
  font-size: 16px; }
.page-ldap-search #page, .page-ldap-search.not-front #main {
  padding-top: 0; }
.page-ldap-search article.node-person {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 0 30px 10px; }

.front .modal-body iframe {
  max-width: 100%; }

.field-type-taxonomy-term-reference {
  font-size: 16px; }

/*Person page*/
.node-type-person article {
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  padding-bottom: 15px; }
.node-type-person .field {
  font-size: 1.2em; }
.node-type-person h3.field {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  font-size: 1.5em; }
.node-type-person .field-name-field-user-first-name {
  float: none; }
.node-type-person .group-image img {
  border-radius: 50%;
  border: 3px solid darkgrey; }

.page-ldap-search .node-teaser .field-type-image img {
  border: none;
  border-radius: 50%; }
.page-ldap-search .node-teaser h3.field-name-field-user-job-title {
  margin-top: 0; }
.page-ldap-search .node-teaser .field-name-field-user-bio {
  margin-top: 25px; }
  .page-ldap-search .node-teaser .field-name-field-user-bio .field-label {
    margin-bottom: 5px; }
  .page-ldap-search .node-teaser .field-name-field-user-bio a:hover {
    opacity: 0.8; }

.role-authenticated-user.page-node-edit.node-type-person div.form-item-title,
.role-authenticated-user.page-node-edit.node-type-person ul.vertical-tabs-list,
.role-authenticated-user.page-node-edit.node-type-person #edit-draft {
  display: none; }

.page-events .content .views-row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 0 30px 10px;
  margin-top: 40px; }
.page-events input.form-text, .page-events textarea, .page-events select {
  padding: 6px 15px; }
.page-events .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 30px;
  padding: 12px 23px; }

.node-type-event .addtocal, .page-events .addtocal {
  max-width: 127px;
  margin-left: 10px;
  margin-top: -5px;
  font-size: 16px; }
  .node-type-event .addtocal:hover, .page-events .addtocal:hover {
    top: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg); }
.node-type-event .item-list ul, .page-events .item-list ul {
  list-style-type: none; }
.node-type-event .node-teaser .field-type-image img, .page-events .node-teaser .field-type-image img {
  border: none; }

.page-events .node.node-teaser {
  padding: 0;
  margin-bottom: 0; }

/*Person page*/
.node-type-policy .sidebar h2 {
  font-size: 2em;
  font-weight: normal; }
.node-type-policy .sidebar #block-views-policy-development-block,
.node-type-policy .sidebar #block-custom-blocks-related-policy,
.node-type-policy .sidebar #block-custom-blocks-policy-contact {
  margin-top: 40px;
  padding: 20px 20px 40px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
  .node-type-policy .sidebar #block-views-policy-development-block a,
  .node-type-policy .sidebar #block-custom-blocks-related-policy a,
  .node-type-policy .sidebar #block-custom-blocks-policy-contact a {
    color: #163671;
    text-decoration: underline; }
  .node-type-policy .sidebar #block-views-policy-development-block .back,
  .node-type-policy .sidebar #block-custom-blocks-related-policy .back,
  .node-type-policy .sidebar #block-custom-blocks-policy-contact .back {
    cursor: pointer; }

#block-block-16 {
  padding: 0 20px 40px;
  background: #163671;
  color: white; }
  #block-block-16 a {
    color: white;
    text-decoration: underline; }

.page-policy-search article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 0 30px 10px; }
  .page-policy-search article header {
    padding-left: 15px; }
  .page-policy-search article .field-name-body a {
    color: black; }
    .page-policy-search article .field-name-body a:hover {
      color: #4187d1; }

#block-search-api-page-policy-search-page {
  padding: 30px 20px;
  margin: 25px 0px;
  background-color: white;
  min-height: 190px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); }
  #block-search-api-page-policy-search-page h2.title {
    font-size: 28px; }
  #block-search-api-page-policy-search-page input.form-text {
    border-radius: 4px;
    padding: 14px 15px;
    border: none;
    border: 2px solid #4187d1; }
  #block-search-api-page-policy-search-page form {
    background: white;
    box-shadow: none; }

.node-type-contact #page-title {
  display: none; }
.node-type-contact .title {
  color: #163671;
  font-size: 2.5em; }
.node-type-contact .shadow-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 0px 20px 15px;
  margin-top: 40px; }
  .node-type-contact .shadow-card h2 {
    font-weight: bold; }
.node-type-contact .building-img {
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right; }
  @media screen and (max-width: 768px) {
    .node-type-contact .building-img {
      float: left;
      margin-top: 20px; } }
.node-type-contact .building-iframe {
  max-width: 400px;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  margin-top: 30px; }
  @media screen and (max-width: 768px) {
    .node-type-contact .building-iframe {
      float: left; } }

/*# sourceMappingURL=main.css.map */
